# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.tfstate.d/
terraform.tfstate.d/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
*.tfvars
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# OS
.DS_Store
Thumbs.db
# Editor
.idea/
.vscode/